<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

<div class="loading" *ngIf="isLoading">
  <ng-container *ngTemplateOutlet="loadingTemplate ? loadingTemplate : defaultLoading"></ng-container>
</div>
<div class="error" *ngIf="hasError">
  <ng-container *ngTemplateOutlet="errorTemplate ? errorTemplate : defaultError"></ng-container>
</div>

<ng-template #defaultLoading> <p>{{ loadingText }}</p> </ng-template>
<ng-template #defaultError> <p>{{ errorMessage }}</p> </ng-template>

<div [ngStyle]="{ border: borderCss }">
    <canvas id="canvas"></canvas>
</div>
<div class="toolbar" *ngIf="!isLoading">
  <div class="tools">
    <div class="row">
      <i class="material-icons btn" [class.selected]="currentTool == 'brush'" (click)="selectTool('brush')"
        [title]="getTooltip('brush')">brush</i>
      <span *ngFor="let drawingSize of drawingSizes" class="size btn" [ngClass]="drawingSize"
        [class.selected]="currentSize == drawingSize" [title]="getTooltip(drawingSize)"
        (click)="selectDrawingSize(drawingSize)" >
      </span>

        <input style="display: none" type="file" #fileInput (change)="importPhotoFromFile($event)" accept="image/*"/>
        <i class="material-icons btn" *ngIf="enableLoadAnotherImage && !hasImage" (click)="fileInput.click();"
           [title]="getTooltip('load')">attach_file</i>
        <i class="material-icons btn" *ngIf="enableRemoveImage && hasImage" (click)="removeImage()"
           [title]="getTooltip('removeImage')">clear</i>

        <i class="material-icons btn" [class.disabled]="!canUndo" (click)="undo()" [title]="getTooltip('undo')">undo</i>
      <i class="material-icons btn" [class.disabled]="!canRedo" (click)="redo()" [title]="getTooltip('redo')">redo</i>
      <i class="material-icons btn" (click)="clearCanvas()" [title]="getTooltip('clear')">delete</i>
    </div>
    <div class="row">
        <div *ngFor="let color of colors" [class.selected]="currentColor == color"
            [ngClass]="['color', color]" [title]="getTooltip(color)" (click)="selectColor(color)">
        </div>
    </div>
  </div>
  <div class="buttons">
    <a href="#" class="button btn-primary" (click)="saveImage(); $event.preventDefault()">{{ saveBtnText }}</a>
    <a href="#" class="button btn-light" (click)="cancelAction(); $event.preventDefault()">{{ cancelBtnText }}</a>
  </div>
  <!-- Any additional toolbar buttons to be projected by the consuming app -->
  <ng-content></ng-content>
</div>
